.tabShow
{
	display: block;
}
.tabHide
{
	display: none;
}
.tabActive
{
	opacity: 1.0;
}
.tabInactive,
.tabDisable
{
	opacity: 0.5;
}

#tabMenuBar
{
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
}

.tabContainer
{
/* layout */
	padding:		.5em 0.5em .5em 0.5em; /* trbl */
	border-radius: 0.8em 0.8em 0.8em 0.8em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;

/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(23, 2%, 50%) !important;
	background-color: 	lightblue;
	
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.1em .1em, inset rgba(0,0,0,0.15) 0 -0.05em .1em, /* inner shadow */ 
						hsl(83, 15%, 10%) 0 .1em 3px, hsl(82, 15%, 3%) 0 .3em 1px, /* color border */
						rgba(9,15,1,0.2) 0 .5em 5px; /* drop shadow */
}

.tab
{
/* text */
	text-decoration: 		none;
	font: 					12px/1em 'Times', sans-serif;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
	user-select: 			none;
	
/* layout */
	padding: 				.5em 1.2em .4em 1.2em; /*t r b l*/
	margin: 				0.1em;
	margin-bottom: .5em;
	display: 				inline-block;
	position: 				relative;
	
	border-radius: 0.2em 0.2em 0.8em 0.8em;

/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(83, 92%, 50%) !important;
	background-color: 	lightblue;
	
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.1em .1em, inset rgba(0,0,0,0.15) 0 -0.05em .1em, /* inner shadow */ 
						hsl(83, 15%, 10%) 0 .1em 3px, hsl(82, 15%, 3%) 0 .3em 1px, /* color border */
						rgba(9,15,1,0.2) 0 .5em 5px; /* drop shadow */
	cursor: pointer;
}

.tabEdge:after
{
	width: 100%;
	height: 60%;
    top: 		0;
    left: 		5%;
    float: left;    
    
	border-radius: 			.2em .2em 0.5em 0.5em / .2em .2em 1em 1em;
    
	background-image: 		gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ),
    							color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );	
}